<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>audiobook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
audio{
    align-items:center;
    text-align:center;
    margin-left:30%;
}
    .form-group{
        margin-top:10%;
        margin-left:10%;
        margin-right:10%;
    }
    button{
        margin-top:2%;
    }
</style>

<form>


  <div class="form-group">
<audio controls autoplay>
  <source src="ab.mp3" type="audio/mpeg">

</audio>
      <form method="POST" action="{{url_for('notes')}}">
    <h2 for="exampleFormControlTextarea1">Add Notes</h2>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="button" class="btn btn-primary">Cancel</button>
<button type="submit" class="btn btn-primary">Save</button>

</form>
  </div>
</form>

</body>

<?php
$fp = fopen('ind.txt', 'w');
fwrite($fp, 'Cats chase mice');
fclose($fp);
?>
</html>
